<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<filter>
		<filter-name>contextfilter-forward</filter-name>
		<filter-class>
			com.sgcc.uap.kernel.web.server.UapModuleContextFilter
		</filter-class>
		<init-param>
			<param-name>requestType</param-name>
			<param-value>FORWARD</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>contextfilter-request</filter-name>
		<filter-class>
			com.sgcc.uap.kernel.web.server.UapModuleContextFilter
		</filter-class>
		<init-param>
			<param-name>requestType</param-name>
			<param-value>REQUEST</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>contextfilter-include</filter-name>
		<filter-class>
			com.sgcc.uap.kernel.web.server.UapModuleContextFilter
		</filter-class>
		<init-param>
			<param-name>requestType</param-name>
			<param-value>INCLUDE</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>contextfilter-forward</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>  
	</filter-mapping>
	<filter-mapping>
		<filter-name>contextfilter-request</filter-name>
		<url-pattern>/*</url-pattern> 
	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>contextfilter-include</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
    
	<listener>
		<listener-class>
			com.sgcc.uap.kernel.web.broker.UapModuleContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.sgcc.uap.kernel.web.broker.UapModuleSessionListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>contextservlet</servlet-name>
		<servlet-class>
			com.sgcc.uap.kernel.web.server.UapModuleContextServlet
		</servlet-class>
		<init-param>
			<param-name>extGen</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>Version</param-name>
			<param-value>3.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>applicationWelcomePage</param-name>
			<param-value>/workbench/default.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>applicationErrorPage</param-name>
			<param-value>/webext/error.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>noFoundErrorPage</param-name>
			<param-value>/webext/404.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>detailErrorPage</param-name>
			<param-value>/webext/detailerror.jsp</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>contextservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contextservlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>msi</extension>
		<mime-type>application/x-msdownload</mime-type>
	</mime-mapping>

</web-app>
